




#left1{
    position: relative;
    display:inline;
    margin-top: 50px;
    margin-left:70px;
  }


.rightside1{float:right;
margin-top:-60px;
}
#pic1{margin-right:-2px;}
#curfont{font-family:'cursive' ,'Cedarville Cursive';
font-size:xx-large;
font-weight:bolder;
font-size: 3rem;
margin-left: 120px;
margin-top:-50px; 
}


#pic2{margin-left:-1px;}
#pic21{margin-left:-1px;}
#pic31{margin-left:-1px;}
#pic32{margin-left:-2px;}
#pic42{margin-left:-1px;}
#pic41{margin-left:-1px;
margin-right:4px;
}
#pic42{margin-left:-1px;}
#pic43{margin-left:4px;}
#pic5{margin-left:-2px;}


#mainpic{width: 85%;
margin-left:60px;
height: 80%;
margin-top:70px;
margin-bottom: -30px;
}
#nma{
   font-size: xx-large;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: bolder;
margin-left:60px;
margin-top:70px;

font-size: 3em;
}

#tsl{

margin-left:70px;

margin-bottom:30px;
font-size: 18px;
}

#righty{float:right;
width: 30px;
margin-right:150px;


}

.paragarph{font-size: 25px;

   text-indent: 50px;
margin-left:60px;
margin-top:50px;
   line-height: 1.2;
}

#new{margin-left:600px;}


#thebest{margin-left:70px;}

.leftside{




   text-align: left;
}




.container{ 
   position: relative;
   text-align: center;
   }

   .left1q{
      text-align: center;
      margin-top:-70px;
      margin-left:-600px;
     
   }

   .right1q{

      text-align: center;
      margin-top:-70px;
      margin-bottom: 80px;
        margin-right:-300px;
   }