
.rightside1{float:right;
margin-top:-60px;
}
#pic1{margin-right:-2px;}
#curfont{font-family:'cursive' ,'Cedarville Cursive';
font-size:xx-large;
font-weight:bolder;
font-size: 3rem;
margin-left: 50px;
margin-top:-50px; 
}


#pic2{margin-left:-1px;}
#pic21{margin-left:-1px;}
#pic31{margin-left:-1px;}
#pic32{margin-left:-2px;}
#pic42{margin-left:-1px;}
#pic41{margin-left:-1px;
margin-right:4px;
}
#pic42{margin-left:-1px;}
#pic43{margin-left:4px;}
#pic5{margin-left:-2px;}


#mainpic{width: 90%;
margin-left:100px;
height: 90%;
margin-top:50px;
}
#nma{
   font-size: xx-large;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: bolder;
margin-left:90px;
font-size: 3em;
}

#tsl{

margin-left:90px;
font-size: 18px;
}

#righty{float:right;
width: 30px;
margin-right:100px;


}

.paragarph{font-size: 25px;

  

   line-height: 1;
}