main{

    display:flex;
}

#first, #second{

width:50%;


}




Footer{color: #f376a288;}

#myform{
    width: 300px;
    height: 300px;
padding-top:30px;
background-image: linear-gradient( #5d4b7696,#fffdfe88);
border: 1px #5d4b7696 solid;
text-align: center;
}

header{
   color:aquamarine;
height: 50px;

}
   header h1{
    color:white;
text-align: center;
font-size: xx-large;
    }

    #field{color:#5d4b7696;
       
       

    }

    body{

background-image: url(../background.png);


    }

    ul,li{background-image: linear-gradient( #5d4b7696,#fffdfe88);

    }

    #Name{


        
    }